* {
    --main-theme-color: #674f3f;
    --accent-color: #4a592e;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: system-ui, sans-serif;
    font-size: 18px;
    appearance: none;
}

body {
    position: relative;

    display: flex;
    height: 100vh;
}

#bg-overlay {
    flex: 1 0 auto;
    min-width: 200px;
    height: 100%;
}

#company-banner {
    display: flex;
    justify-content: center;
    background-color: rgb(0 0 0 / 40%);
    position: relative;
    top: 30%;
}

#main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    flex: 0 0 auto;
    width: 800px;
    height: 100%;
    background-color: white;
}

.main-content {
    padding: 40px 50px;
}

#upper-container {
    box-shadow: 0 6px 6px rgba(128, 128, 128, 0.420);
}

#upper-container > p {
    flex: 1 1 auto;
    margin-bottom: 3rem;
    padding-right: 3rem;
    font-size: 26px;
    font-weight: 700px;
}

em {
    font-size: inherit;
    font-weight: inherit;
}

form h2 {
    font-size: 26px;
    margin: 10px 0;
}

.required-warning {
    color: red;
}

#sign-up > ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 32rem;
}

#sign-up label {
    font-size: 0.8rem;
    font-family: "Quicksand", system-ui, sans-serif;
    letter-spacing: 0.15rem;
}

#sign-up input {
    width: 14rem;
    height: 2em;
    padding: 0 10px;
    border: 1px solid #E5E7EB;
    border-radius: 5px;
}

#sign-up input:user-invalid {
    border: 1.5px solid red;
}

#sign-up input:focus {
    border: 1.5px solid rgb(89, 89, 239);
    outline: 0;
    box-shadow: 1px 2px 6px rgba(100, 100, 100, 0.7)
}

/* Feature to be added when JS validation learned */
/* #confirm-ref-container:has(input::invalid)::after {
    content:"* Referral codes do not match";
    font-size: 0.7rem;
    color: red;
} */

form li {
    list-style-type: none;
    margin: 8px 0;
}

form li > * {
    display: block;
}

.shadower {
    position: relative;
    box-shadow: 0 2px 2px 2px black;
}

button[form="sign-up"] {
    position: relative;;
    width: 10rem;
    height: 3rem;
    border-radius: 15px;
    border: 0;
    background-color: var(--main-theme-color);
    color: azure;
    box-shadow: 0px 2px 5px grey;
    transition: 0.05s ease-in-out;
}

button[form="sign-up"]:hover {
    transform: translate(0px, -1px);
    border: 2px solid white;;
    box-shadow: 0px 2px 3px 2px var(--accent-color);
}

button[form="sign-up"]:active {
    transform: translate(0px, 1px);
    border: 4px solid var(--accent-color);
    border: 1px solid white;
    box-shadow: 0px 0.5px 2px 1px var(--accent-color);
}